img{
    border-radius: 50%;
    object-fit: cover;
    margin-left: 6px;

}
.avatar{
    border-radius: 50%;
    object-fit: cover;
}
/* h3{
    margin-left: 10px;

} */
.user__name{
    margin-left: 10px;
}
.user__link{
    margin: auto;
    /* border: 1px solid white;
    background-color: blue; */
    
    
}
/* .user__link:hover{
    background-color: pink;
}
.user__link > a{
    text-decoration: none;
    color: white;
    margin: 1px;
    padding: 1px;
}
.user__link > a:hover{
    color: yellow;
}  */