.nav-tabs,
.nav-link.active,
.nav-item.show  .nav-link{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    font-weight: bold;
    color: black;
}

.nav-link{
    font-size: 14px;
    color: #586069;
}
.nav-link:hover{
    color: black;
    text-decoration-color: black;
}